<html>
	<head>
		<title>Becoming Wing</title>
</head>
 <body>
        <div>
            <h1><a href="/">Start Up Blog</a></h1>
        </div>

        <div>
            <p>published: 01.01.2019, 12:14</p>
            <h2><a href="">CRM Tool 1</a></h2>
            <p>Learn to engage customers with WhatsApp Business.</p>
        </div>

        <div>
            <p>published: 02.09.2019, 12:14</p>
            <h2><a href="">CRM Tool 2</a></h2>
            <p>Airtable is a great tool to organize customer data.</p>
        </div>
    </body>
</html>